#app {
  font-weight: normal;
}

.mini-label .accept {
  color: var(--critical-call-to-action);
}

a.critical {
  color: var(--critical-call-to-action);
}

a.normal {
  color: var(--color-link-hover);
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--color-text);
}

a:hover, a:focus,
.mini-label .accept:hover, .mini-label .accept:focus {
  color: var(--color-link-hover);
}
.mini-label .commands {
  display: flex;
  justify-content: space-between;
}

.mini-label input::placeholder {
  color: var(--color-border-hover)
}
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.label-marker{
  font-size: 14px;
  padding: 8px;
  background: var(--color-background)
}
.label-marker input[type="text"] {
  padding: 0;
  text-align: center;
}
#map .mapboxgl-popup-content, #map .maplibregl-popup-content {
  padding: 0;
}
#map .mapboxgl-popup-anchor-bottom .maplibregl-popup-tip { border-top-color: var(--color-background); }
#map .mapboxgl-popup-anchor-top .maplibregl-popup-tip { border-bottom-color: var(--color-background); }
#map .mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: var(--color-background); }
#map .mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: var(--color-background); }

.slider-cont {
  width: 300px;
}

.custom-slider {
  --trackHeight: 0.35rem;
  --thumbRadius: 1rem;
}

/* style the input element with type "range" */
.custom-slider input[type="range"] {
  position: relative;
  appearance: none;
  background: none;
  border-radius: 999px;
  z-index: 0;
  height: 100%;
  pointer-events: none;
}

/* ::before element to replace the slider track */
.custom-slider input[type="range"]::before {
  content: "";
  display: block;
  position: absolute;
  width: var(--ProgressPercent, 100%);
  height: 100%;
  background: #00865a;
  border-radius: 999px;
}

/* `::-webkit-slider-runnable-track` targets the track (background) of a range slider in chrome and safari browsers. */
.custom-slider input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: #005a3c;
  height: var(--trackHeight);
  border-radius: 999px;
}

.custom-slider input[type="range"]::-webkit-slider-thumb {
  position: relative;
  width: var(--thumbRadius);
  height: var(--thumbRadius);
  margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2);
  background: #005a3c;
  border: 1px solid  #00865a;
  border-radius: 999px;
  pointer-events: all;
  appearance: none;
  z-index: 1;
}

/* `::-moz-range-track` targets the track (background) of a range slider in Mozilla Firefox. */
.custom-slider.default input[type="range"]::-moz-range-track {
  appearance: none;
  background: #005a3c;
  height: var(--trackHeight);
  border-radius: 999px;
}

.custom-slider input[type="range"]::-moz-range-thumb {
  position: relative;
  box-sizing: border-box;
  width: var(--thumbRadius);
  height: var(--thumbRadius);
  margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2);
  background: #005a3c;
  border: 1px solid  #00865a;
  border-radius: 999px;
  pointer-events: all;
  appearance: none;
  z-index: 1;
}

.custom-slider.minmax {
  position: relative;
  height: var(--trackHeight);
  background: #005a3c;
  border-radius: 999px;
  margin: 0.5rem 0;
  --progressLeft: 0%;
  --progressRight: 0%;
}

.custom-slider .minmax-indicator {
  position: absolute;
  height: 100%;
  pointer-events: none;
  left: var(--thumbRadius);
  right: var(--thumbRadius);
}

.custom-slider .minmax-indicator::before {
  content: "";
  position: absolute;
  background: #00865a;
  height: 100%;
  left: var(--progressLeft);
  right: var(--progressRight);
}

.custom-slider.minmax input[type="range"] {
  position: absolute;
  width: calc(100% - var(--thumbRadius));
}

.custom-slider.minmax input[type="range"][name="max"] {
  left: var(--thumbRadius);
}

.custom-slider.minmax input[type="range"]::-webkit-slider-runnable-track {
  background: none;
}

.custom-slider.minmax input[type="range"]::before {
  display: none;
}

.minmax-inputs {
  display: flex;
  justify-content: space-between;
}

.minmax-inputs input {
  width: 50px;
}